
*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(bground.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 25vh;
    margin: auto;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display:inline-block;
    list-style-type: none ;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: black;
    margin: 0px 20px;
}
a{
    color: black;
}